<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>MERN Way</title>
  </head>
  <body>
    <!--navbar-->
    <%- include('../nav/nav.ejs') %>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">점보트론</h1>
        <p class="lead">홈입니다</p>
        <a href="/upload"><button type="button" class="btn btn-primary">이미지업로드</button></a>
        <a href="/lists"><button type="button" class="btn btn-primary">리스트</button></a>
        <a href="/register-todos"><button type="button" class="btn btn-success">등록</button></a>
        <a href="/mypage"><button type="button" class="btn btn-success">마이페이지</button></a>
        <a href="/login"><button type="button" class="btn btn-success">로그인</button></a>
      </div>
    </div>

    <div class="container mt-4">
      <form action="/user/register" method="POST">
          <div class="form-group">
              <label>ID : </label>
              <input type="text" class="form-control" name="id"></input>
          </div>
          <div class="form-group">
              <label>PW : </label>
              <input type="text" class="form-control" name="pw"></input>
          </div>
          <button type="submit" class="btn btn-primary">SUBMIT</button>
      </form>
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  </body>
</html>
